body{
    background-color:black;
}

div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10rem;


}
    
img{
    height: 400px;
    width: 200px;
    object-fit: cover;
    border-radius: 200px;
}

.a{
    height: 400px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
